<form class="example-form" >
    <mat-form-field class="example-full-width" style="width: 100%">
      <mat-chip-list #chipList>
        <mat-chip style="margin-top:0.4em;" *ngFor="let option of  this.dataService.searchOption" (removed)="removeOption(option)">
    
          <span>{{option}}</span>
          
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #autocompleteInput type="text" placeholder="Enter Name or Last Name" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto" [matChipInputFor]="chipList">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of autoCompleteList" [value]="option.name" (onSelectionChange)="filterContactList(option)">
            {{option.name}} {{option.last_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-chip-list>
    
    </mat-form-field>
    
    </form>