

<div class="container" style="margin-top: 70px;">
    <app-search-bar (onSelectedOption)="onSelectedFilter($event)"></app-search-bar>

    <table class="table table-hover" >
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Number</th>
          <th>Birthday</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
  
          <td>{{ i + 1 + page * pageSize }}</td>
          <td> {{ contact.name }}</td>
          <td> {{ contact.last_name }}</td>
          <td> {{ contact.number }}</td>
          <td> {{ contact.birthday | date }}</td>
          <td> {{ contact.address }}</td>

          <td>
            <button class="btn btn-primary" (click)="editContact(contact)"> Edit details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [showFirstLastButtons]="true"
                (page)="nextPage($event)"
                *ngIf="!hidePaginator"
                >
    </mat-paginator>
    
</div>