<div class="container" style="margin-top: 70px;">

    <div class="row">
  
      <div class="col-sm-8 offset-sm-2">
  
        <div>
          <form [formGroup]=contactForm>

            <div class="form-group">

              <label for="name">Name</label>
              <input formControlName="name" type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="First Name"
              [ngClass]="{ 'is-invalid': submitted && contactForm.controls.name.errors }">
              <small id="nameHelp" class="form-text text-muted">Enter your contact’s name</small>
  
              <label for="email">Last Name</label>
              <input formControlName="last_name" type="text" name="last_name" class="form-control" id="last_name" aria-describedby="last_nameHelp"
                placeholder="Last Name"
                [ngClass]="{ 'is-invalid': submitted && contactForm.controls.last_name.errors }">
              <small id="nameHelp" class="form-text text-muted">Enter your contact’s last name</small>
              
              <label for="number">Number</label>
              <input formControlName="number" type="text" name="number" class="form-control" id="number" aria-describedby="nameHelp" placeholder="+49123456789"
              [ngClass]="{ 'is-invalid': submitted && contactForm.controls.name.errors }">
              <small id="numberHelp" class="form-text text-muted">Enter your contact’s number</small>
              
              <label for="birthday">Birthday</label>
              <input formControlName="birthday" type="date" name="birthday" class="form-control" id="birthday" aria-describedby="birthdayHelp"
              [ngClass]="{ 'is-invalid': submitted && contactForm.controls.name.errors }">
              <small id="numberHelp" class="form-text text-muted">Enter your contact’s birthday</small>
              
              <label for="address">Address</label>
              <input formControlName="address" type="text" name="address" class="form-control" id="address" aria-describedby="nameHelp" placeholder="Street No. 10"
              [ngClass]="{ 'is-invalid': submitted && contactForm.controls.name.errors }">
              <small id="addressHelp" class="form-text text-muted">Enter your contact’s address</small>
  
            </div>
          </form>
          <div *ngIf='serverError'>
              {{ serverError }}
          </div>
  
          <div *ngIf="contact; then update else create"></div>
            <ng-template #update>
              <div class="d-flex justify-content-between">
                <div>
                  <button class="btn btn-primary" (click)="updateContact()">Update contact</button>
                </div>
                <div>
                  <button class="btn btn-danger right" (click)="deleteContact()"> Delete details</button>
                </div>
              </div>
            </ng-template>
            <ng-template #create>
                <button class="btn btn-primary" (click)="createContact()">Create contact</button>
            </ng-template>
            
        </div>
      </div>
    </div>
  </div>